<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Sunyong jjang</title>
</head>
<body>
<h1>넘어온 값 테스트 페이지</h1><hr>
<form action="/userCheck" method="post">
	<input type="text" name="client_id" value="78a19d5ecc04acc9"><br><br>
	<input type="submit" value="테스트하기">
	<input type="button" value="DB 리스트 보기" onClick="location.href='http://coin-management.shop:9001/userList'">
</form>
</body>
</html>
